.App {
  max-width: 1550px;
  width: 100%;
  min-width: 100vh;
  text-align: center;
  margin: 0 auto;
  box-sizing: 0 2px 6px;
  padding: 0 15px;
  box-sizing: border-box;
}
.container-heder{
  display: flex;
  justify-content: space-evenly;
}
.HederMenu{
  display: flex;
 

}
.imagen-baner{ 
  width: 1215px;
  height: 550px;
} 
ul{
  list-style-type: none;
  margin: 10px;
}
.contenendor-galeria{
display: flex;
flex-wrap: wrap;

}
img{
  border-radius: 12px;
  width:309px ;
  height: 493px;
}









