.App {
  max-width: 1550px;
  width: 100%;
  min-width: 100vh;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 5px 6px  #08a05c;
  padding: 0 15px;
  box-sizing: border-box;
}

/* --------------baner----------- */
.imagen-baner{ 
  width: 1215px;
  height: 550px;
} 
ul{
  list-style-type: none;
  margin: 10px;
}

/* -----heder------ */
.container-heder{
  width: 97%;
  min-height: 100%;
  max-width: 1530px;
  overflow: hiden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  /* background: white;  */
  box-shadow: 0 5px 10px #08a05c;
}
a{ 
  color:black;
  text-decoration: none;
  text-transform: uppercase;
}
li{
  list-style: none;
}
a:hover{
  color: #08a05c;
}
.container-heder ul{ 
  display:flex ;
  margin: 0;
  padding: 0;
}
.container-heder ul li{
  padding: 0 1rem;
  
}
.container-heder ul li a{
  font-weight: bold;
  
}
.logo img{
  width: 100px;
  height: 100px;
}
.container-heder .cart box-icon{
width: 100px;
height: 45px;
}
.container-heder .cart{
position: relative;
cursor: pointer;
}
.container-heder .cart span{
  position: absolute;
  top:-1rem;
  right: -1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
color:white;
padding: 0rem;
font-size: 1.5rem;
font-weight: 700;
background-color: crimson;
}
/* -------------Productos---------------------- */
.tittle{
  font-size: 2.4rem;
  padding: 10rem 0 0 0;
  color: #08a05c;
}
/* .producto{
  padding: 5rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns:repeat(auto-fil, minmax(22rem, 1fr)) ;
  padding: 0 15px;
  box-sizing: border-box;
} */
.contenendor-galeria{
  display: flex;
  flex-wrap: wrap;
  }
  .espaciado{
    display: flex;
    padding: 10px;
  }
  img{
    border-radius: 12px;
    width:290px ;
    height: 493px;
  }
.buttom .btn{
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}
.buttom button{
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #008CBA;
  color: white;
}



  
/* -----------------------MEDIA--------------------- */
@media only screen and (max-windth: 600px){
  .container-heder ul{
    display: none ;
  }
}






